.home {
  width: 100%;
  height: auto;
  font-family: "benton-sans", sans-serif;
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
  background-color: #236ea5;
  width: 100%;
}

.loginSelect {
  width: 100px;
  font-size: 12px;
  font-weight: bold;
  text-align: right;
}

.countrySelect {
  width: 80px;
  font-size: 12px;
  font-weight: bold;
  text-align: right;
}

.trialButton {
  color: white;
  width: 150px;
  font-size: 12px;
  padding: 2px;
  margin: 5px 100px 5px 10px;
  background-color: rgb(231, 98, 36);
  border-radius: 30px;
}

.trialButton:hover {
  background-color: black;
}

.loginSelect:hover,
.countrySelect:hover,
.trialButton:hover {
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c9d9e6;
  padding-left: 8%;
}

.header > h2 {
  font-size: 35px;
}

.header > ul {
  list-style-type: none;
}

.header > ul > li {
  display: inline;
  margin: 10px;
}

.header:hover {
  background-color: white;
}

.mainPage {
  display: flex;
  background-color: #c9d9e6;
}

.mainPageContent {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 5% 5% 20% 8%;
  font-size: 20px;
}

.mainPageContent > h1 {
  font-size: 50px;
  margin: 0;
}

.mainPageContent > p {
  font-size: 21px;
}

.mainPageContent > button {
  width: 100px;
  background-color: #236ea5;
  border-radius: 25px;
  color: white;
  font-size: 15px;
  padding: 5px;
}

.mainPageImage {
  width: 50%;
  display: flex;
  background-image: url(./images/manwithheadset.png);
  background-size: cover;
}

.quickLinks {
  height: 200px;
  background-size: auto;
  background-repeat: repeat-x;
  background-position: center;
  margin-top: -10%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.quickLinks > ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  justify-content: space-around;
}

.quickLinks > ul > li {
  margin-right: 30px;
}

.centerCard {
  display: flex;
  flex-direction: column;
  padding: 8%;
}

.card {
  display: flex;
  flex-direction: column;
}

.card > h2 {
  font-size: 50px;
}

.cardRow {
  display: flex;
  justify-content: space-around;
  min-height: 400px;
  flex-wrap: wrap;
}

.addressCard {
  border: solid black 2px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  min-width: 380px;
  min-height: 400px;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  margin-bottom: 20px;
}

.addressCard > img {
  border-radius: 50px;
  border: solid black 2px;
}

.addressCard > button {
  background-color: rgb(231, 98, 36);
  border-radius: 25px;
  color: white;
  padding: 5px 10px 5px 10px;
  margin-top: 50px;
}

.cardRow > img {
  border-radius: 25px;
  width: 380px;
  margin-bottom: 20px;
}

.contactPage {
  display: flex;
  background-color: #c9d9e6;
}

.contactPageContent {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 5% 5% 20% 8%;
  font-size: 20px;
}

.contactPageContent > h1 {
  font-size: 50px;
  margin: 0;
}

.contactPageContent > p {
  font-size: 20px;
}

.contactPageColumn {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contactPageColumn > div > button {
  width: 35%;
  background-color: rgb(231, 98, 36);
  border-radius: 25px;
  color: white;
  font-size: 15px;
  padding: 5px;
  margin: 15px;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(87, 84, 84);
  color: white;
  padding: 5% 5% 5% 8%;
}

.footerRow {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footerColumn {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.footerColumn > h3 {
  font-weight: lighter;
  margin: 0;
}

.footerColumn > ul {
  list-style-type: none;
  padding: 0;
}

.footerColumn > ul > li {
  margin-top: 2%;
}

.footerColumn > button {
  width: 60%;
}

.footerImages {
  display: flex;
  justify-content: space-between;
  padding: 10% 10% 0% 0%;
}

.bottomBar {
  display: flex;
  font-size: 14px;
  padding: 2%;
  padding-left: 8%;
}

.bottomBar > ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  width: 80%;
  justify-content: flex-end;
}

.bottomBar > ul > li {
  padding-right: 2%;
}

@media only screen and (max-width: 768px) {
  .header > ul > li {
    display: none;
  }

  .mainPageContent {
    width: 100%;
  }

  .mainPageContent > h1 {
    font-size: 40px;
  }

  .mainPageContent > p {
    font-size: 20px;
  }

  .mainPageImage {
    width: 0%;
  }

  .contactPageContent {
    width: 100%;
  }

  .contactPageColumn {
    width: 100%;
  }

  .footerColumn {
    width: 100%;
    margin-bottom: 20px;
  }

  .bottomBar {
    flex-direction: column;
  }

  .bottomBar > ul {
    flex-direction: column;
  }

  .bottomBar > ul > li {
    margin-top: 10px;
  }
}
