.home {
  width: 100%;
  height: auto;
  font-family: "benton-sans", sans-serif;
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
  background-color: #236ea5;
  width: 100%;
}

.loginSelect {
  width: 10%;
  font-size: 12px;
  font-weight: bold;
  text-align: right;
}

.countrySelect {
  width: 5%;
  font-size: 12px;
  font-weight: bold;
  text-align: right;
}

.loginSelect > ul,
.countrySelect > ul {
  list-style-type: none;
  padding: 0px;
  display: flex;
  flex-direction: column;
  margin: 0px;
  z-index: 1;
  position: absolute;
  background-color: #236ea5;
}

.loginSelect > ul > li,
.countrySelect > ul > li {
  display: none;
  padding: 10px 10px 5px 30px;
}

.trialButton {
  color: white;
  width: 10%;
  font-size: 12px;
  padding: 2px;
  margin: 5px 100px 5px 10px;
  background-color: rgb(231, 98, 36);
  border-radius: 30px;
}

.trialButton:hover {
  background-color: black;
}

.loginSelect:hover,
.countrySelect:hover,
.trialButton:hover {
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #c9d9e6;
}

.header > h2 {
  font-size: 35px;
}

.header > ul {
  list-style-type: none;
}

.header > ul > li {
  display: inline;
  margin: 10px;
}

.header:hover {
  background-color: white;
}

.mainPage {
  display: flex;
  background-color: #c9d9e6;
}

.mainPageContent {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 5% 5% 20% 8%;
  font-size: 20px;
}

.mainPageContent > h1 {
  font-size: 50px;
  margin: 0;
}

.mainPageContent > p {
  font-size: 21px;
}

.mainPageContent > button {
  width: 20%;
  background-color: #236ea5;
  border-radius: 25px;
  color: white;
  font-size: 15px;
  padding: 5px;
}

.mainPageImage {
  width: 50%;
  display: flex;
  background-image: url(./images/manwithheadset.png);
  background-size: cover;
}

.quickLinks {
  height: 200px;
  background-size: auto;
  background-repeat: repeat-x;
  background-position: center;
  margin-top: -10%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.quickLinks > ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  justify-content: space-around;
}

.quickLinks > ul > li {
  margin-right: 30px;
}

.centerCard {
  display: flex;
  flex-direction: column;
  padding: 8%;
}

.card {
  display: flex;
  flex-direction: column;
}

.card > h2 {
  font-size: 50px;
}

.cardRow {
  display: flex;
  justify-content: space-around;
  min-height: 400px;
  flex-wrap: wrap;
}

.addressCard {
  border: solid black 2px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  min-width: 380px;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

.addressCard > img {
  border-radius: 50px;
  border: solid black 2px;
}

.addressCard > button {
  background-color: #f55f41;
  border-radius: 25px;
  color: white;
  padding: 5px 10px 5px 10px;
  margin-top: 50px;
}

.cardRow > img {
  border-radius: 25px;
  width: 380px;
}
